---

title: HUzzii
---
<h1>HUzzii love Tech, any of it</h1>
<br />

<h2>Latest News</h2>
<!-- show 3 news in reverse blog time -->
<ul>
  {% assign posts_items = site.posts | sort: 'date' | reverse %}
  {% for post in posts_items limit: 3 %}
    <li>
      <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
    </li>
  {% endfor %}
</ul>

<br />

<h2>Products</h2>
<!-- show all product -->
<ul>
  {% for product in site.products %}
    <li>
      <b>{{ product.category }}</b>
      <h3><a href="{{ product.url }}">{{ product.name }}</a></h3>
    </li>
  {% endfor %}
</ul>
